<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row"> <img src="../../assets/images/ca.png" class="logo"> </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="../../assets/images/prog.png" class="image"> </div>
                </div>
            </div>
            <div class="col-lg-6">
                <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="card2 card border-0 px-4 py-5">
                        <div class="row mb-4 px-3">
                            <h4 class="mb-0 mr-4 mt-2">Poker Planning App</h4>
                        </div>
                        <div class="row px-3 mb-4">
                            <div class="line"></div> <small class="or text-center">Sign - In</small>
                            <div class="line"></div>
                        </div>
                        <div *ngIf="error != ''" class="alert alert-danger">
                            <fa-icon [icon]="faExclamationCircle"></fa-icon> {{ error }}
                        </div>
                        <div *ngIf="success != ''" class="alert alert-info">
                            <fa-icon [icon]="faInfoCircle"></fa-icon> {{ success }}
                        </div>
                        <div class="row px-3"> 
                            <label class="mb-1">
                                <h6 class="mb-0 text-sm">Email Address</h6>
                            </label> 
                            <input type="text" formControlName="email" placeholder="Enter a valid email address" [ngClass]="{ 'is-invalid': f.email.invalid && (f.email.dirty || f.email.touched) }"> 
                            <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Please enter a valid email address</div>
                            </div>
                        </div>
                        <br />
                        <div class="row px-3"> 
                            <label class="mb-1">
                                <h6 class="mb-0 text-sm">Password</h6>
                            </label> 
                            <input type="password" name="password" formControlName="password" placeholder="Enter password" [ngClass]="{ 'is-invalid': f.password.invalid && (f.password.dirty || f.password.touched) }"> 
                            <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Enter a password between 6 and 20 caracters</div>
                                <div *ngIf="f.password.errors.maxlength">Enter a password between 6 and 20 caracters</div>
                            </div>
                        </div>
                        <br />
                        <div class="row mb-3 px-3"> 
                            <button [disabled]="loginForm.invalid" class="btn btn-blue text-center">Login</button> 
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="bg-blue py-4">
            <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; <span *ngIf="yearNow > 2021">2021 - {{ yearNow }}</span><span *ngIf="yearNow <= 2021">{{ yearNow }}</span>. <br />
			Developped by : <span class="text-uppercase font-weight-bold"><span class="author-span">Marouane EL MABROUK</span></span>. All rights reserved.</small>
            </div>
        </div>
    </div>
</div>