<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; <span *ngIf="yearNow > 2021">2021 - {{ yearNow }}</span><span *ngIf="yearNow <= 2021">{{ yearNow }}</span></span><br />
            <span>Developped by : <a href="javascript:void(0)">Marouane EL MABROUK</a></span><br />
            <span>All rights reserved</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->